.grid_wrap {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 70px auto 1fr;
    grid-template-areas:
      "nav header"
      "nav sticky_top"
      "nav main"
    ;
    min-height: 100dvh;

    @include tablet {
        display: block;
    }

    .header {
        grid-area: header;
        position: sticky;
        left: 0;
        top: 0;
        z-index: 9999;
        background-color: $c_key2;
        @include tablet { 
            position: static;
            padding-top: 80px;
        }
        &_cont {
            display: flex;
            align-items: center;
            padding: 0 20px;
            height: 70px;
            
            @include tablet {  
                height: auto;
                padding: 15px 20px;
                row-gap: 15px;
                flex-wrap: wrap;
            }
        }
        .m_header {
            display: none;
            @include tablet {
                display: flex;
                background-color: $c_key;
                height: 80px;
                width: 100%;
                position: fixed;
                left: 0;
                top: 0;
                align-items: center;
                justify-content: center;
                z-index: 9999;
                h1 {
                    height: 100%;
                    a {
                        display: flex;
                        height: 100%;
                        align-items: center;
                        img {
                            height: 30px;
                        }
                    }
                }
            }
            .btn_nav {
                width: 80px;
                height: 80px;
                background-image: url(../images/btn_nav.svg);
                background-repeat: no-repeat;
                background-position: center center;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .breadcrumb {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            @include tablet {
                order: 3;
                width: 100%;
            }
            &_item {
                font-size: $fz_4;
                color: $c_key3;
                &::after {
                    content: '/';
                    margin: 0 4px;
                }
                &:last-of-type {
                    color: $c_key;
                    font-weight: 500;
                    &::after {
                        display: none;
                    }
                }
            }
        }
        .hd_company {
            display: flex;
            column-gap: 12px;
            margin-left: auto;
            @include tablet {
                flex: 1;
            }
            &_item {
                width: 197px;
                height: 40px;
                background-color: #fff;
                border-radius: 7px;
                color: $c_font2;
                &.select-box {
                    border: none;
                    color: $c_font2;
                    input {
                        color: $c_font2;
                    }
                }
                &.dep1 {
                    padding: 0 20px;
                    font-size: $fz_4;
                    @include text-hidden-single;
                    display: flex;
                    align-items: center;
                    &::before {
                        content: '';
                        width: 30px;
                        height: 30px;
                        background-image: url(../images/ico_home.svg);
                        background-repeat: no-repeat;
                        background-position: center center;
    
                    }
                }
                @include tablet { 
                    flex: 1;
                    width: auto;
                }
            }
        }
        .hd_user {
            margin-left: 60px;
            @include tablet {
                margin-left: 16px;
            }
            &_btn {
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-image: url(../images/ico_user.svg);
                background-repeat: no-repeat;
                background-position: center center;
            }
    
        }
    }
    .nav {
        grid-area: nav;
        position: sticky;
        left: 0;
        top: 0;
        width: 250px;
        background-color: $c_key;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        z-index: 9999;
        @include tablet {
            position: fixed;
            left: auto;
            right: -250px;
            transition: right 0.3s ease-in-out;
            &.on {
                right: 0;
            }
        }
    
        &_top {
            height: 80px;
            flex-shrink: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 20px;
            position: relative;
            background: linear-gradient(90deg, lighten($c_key, 15%) 0%, darken($c_key, 5%) 100%);
            &_logo {
                width: 80px;
                height: 80px;
                background: url(../images/logo_nav.svg) center center no-repeat;
                
            }
            .nav_close {
                width: 40px;
                height: 40px;
                //background-color: $c_key4;
                //border-radius: 50%;
                background-image: url(../images/close_nav.svg);
                background-repeat: no-repeat;
                background-position: center center;
                @include tablet {
                    background-image: url(../images/ico_close.svg);
                    background-color: darken($c_key, 12%);
                    border-radius: 50%;
                }
            }
        }
        &_wrap {
            flex: 1;
            overflow-y: auto; 
            //scrollbar-gutter: stable;  
            &::-webkit-scrollbar {
                width: 16px;
                
            }
            &::-webkit-scrollbar-thumb {
                background-color:#fff;
                
                background-clip: padding-box;
                width: 100%;
                box-sizing: border-box;
                border: 5px solid transparent;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-track {
                background-color: rgba(#fff, .1);
                
            }      
        }
        &_list {
            &.dep1 {
                //height: calc(100% - 80px);     
                //margin-right: 4px;
            }
            &.dep2 {
                display: none;
                .tag_new {
                    margin-left: 8px;
                }
            }
            .tag_new {
                padding: 0 8px;
                height: 22px;
                background-color: rgba(#fff,.2);
                color: #fff;
                border-radius: 4px;
                font-size: 13px;
                font-weight: 600;
                display: flex;
                align-items: center;
            }
        }
        &_dep1 {
            &.has_dep {
                .nav_btn.dep1 {
                    &::after {
                        content:'';
                        width: 25px;
                        height: 25px;
                        margin-left: auto;
                        background-image: url(../images/nav_arrow.svg);
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
                &.on {
                    .nav_list.dep2 {
                        display: block;
                    }
                    .nav_btn.dep1 {
                        &::after {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            &.on {
                .nav_btn.dep1 {
                    background-color: #011FB7;
                    @include hover_true {
                        &:hover {
                            background-color: #000B9B;
                        }
                    }
                }
                .nav_list.dep2 {
                    display: block;
                }
            }
        }
        &_ico {
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-position: center center;
            &.ty_monitoring {
                background-image: url(../images/icon_Monitoring.svg);
            }
            &.ty_facility {
                background-image: url(../images/icon_FacilityManagement.svg);
            }
            &.ty_work {
                background-image: url(../images/icon_ManagementOfWorkPerformed.svg);
            }
            &.ty_emergency {
                background-image: url(../images/icon_EmergencyManagement.svg);
            }
            &.ty_account {
                background-image: url(../images/icon_AccountManagement.svg);
            }
            &.ty_material {
                background-image: url(../images/icon_MaterialManagement.svg);
            }
            &.ty_statistic {
                background-image: url(../images/icon_Statistics.svg);
            }
            &.ty_notification {
                background-image: url(../images/icon_Notification.svg);
            }
            &.ty_setting {
                background-image: url(../images/icon_Setting.svg);
            }
        }
        &_btn {
            &.dep1 {
                height: 50px;
                display: flex;
                align-items: center;
                padding: 0 16px;
                background-color: #0C59D8;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                column-gap: 8px;
                @include hover_true {
                    &:hover {
                        background-color: #0536C5;
                    }
                }
    
                
            }
            &.dep2 {
                display: flex;
                height: 38px;
                align-items: center;
                font-size: 14px;
                color: rgba(#fff,.6);
                background-color: #0C59D8;
                
                position: relative;
                padding: 0 16px 0 21px;
                &::before {
                    content:'';
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: rgba(#fff,.6);
                    margin-right: 18px;
                }
                @include hover_true {
                    &:hover {
                        background-color: #0A4DD1;
                        color: #fff;
                        &::before {
                            background-color: #fff;
                        }
                    }
                }
                &.on {
                    background-color: #0536C5;
                    color: #fff;
                    &::before {
                        background-color: #fff;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        width: 3px;
                        height: 100%;
                        background-color: #fff;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
    
        @include only_pc {
            &.closed {
                width: 80px;
                .nav_top {
                    justify-content: center;
                    padding-right: 0;
                    .nav_close {
                        display: none;
                    }
                }
                .nav_list .tag_new {
                    display: none;
                }
                .nav_btn.dep1 {
                    justify-content: center;
                    .txt {
                        display: none;
                    }
                }
                .nav_dep1.has_dep .nav_btn.dep1::after {
                    display: none;
                }
                .nav_dep1.has_dep.on .nav_list.dep2 {
                    display: none;
                }
            }
        }
        
    }
    .sticky_top {
        grid-area: sticky_top;
        position: sticky;
        left: 0;
        top: 70px;
        z-index: 999;
        padding: 15px 20px;
        background-color: $c_key6;
        @include mobile {
            top: 80px;
        }
       
    }
    
    .container {
        grid-area: main;
        padding: 20px;
        padding-top: 0;
        overflow: hidden;
        .contents {
            padding: 20px;
            border-radius: 8px;
            background-color: #fff;
            border: 1px solid $c_line;
            @include mobile { 
                border-radius: 0;
                padding-bottom: 60px;
                padding-top: 20px;
            }
        }
        @include mobile {
            padding: 0;    
        }
        .sub_tit {
            margin-bottom: 20px;
            padding-top: 30px;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            gap: 10px;
            
            &.ty_sticky {
                position: sticky;
                left: 0;
                top: 70px;
            }
            @include mobile { 
                padding: 0 20px;
            }
            .btn_set {
                display: flex;
                gap: 8px;
            }
        }
    }
}





.bd_box {
    border: 1px solid $c_line;
    &.ty_small {
        padding: 16px;
        border-radius: 8px;
    }
    &.ty_big {
        padding: 32px;
        border-radius: 8px;
        @include mobile {
            padding: 16px;
        }
    }
}

.monitoring_sec {
    & + & {
        margin-top: 60px;
    }
    &.sec1 {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        .f_input.datepicker {
            border: 1px solid $c_key;
        }

        .q_box {
            background-color: #fff;
            flex: 1;
            display: flex;
            flex-direction: column;
            &.disabled {
                opacity: .5;
            }
            .title2 {
                margin-bottom: 16px;
                font-size: 23px;
                @include mobile {
                    font-size: 18px;
                }
            }
            @include mobile {
                width: 100%;
                flex: none;
            }
            
            &_cont {
                flex: 1;
                display: flex;
                align-items: center;
            }
            &1 {
                flex: 1.4;
                .q_box_cont {
                    display: flex;
                    align-items: center;
                    .chart_box {
                        width: 40%;
                        max-width: 140px;
                        flex-shrink: 0;
                        margin-right: 8%;
                        display: flex;
                        align-items: center;
                        .chart_donut {
                            width: 100%;
                        }
                        @include mobile {
                            width: 35%;
                        }
                    }
                }
                @include tablet2 {
                    flex: none;
                    width: 100%;
                }
                
            }
            .data_list {
                flex: 1;
                &_item {
                    display: flex;
                    align-items: center;
                    & + .data_list_item {
                        margin-top: 8px;
                    }
                    dt {
                        font-size: 18px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        @include mobile {
                            font-size: 16px;
                        }
                        .color_chip {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            margin-right: 8px;
                            &.ty_total {
                                background-color: #F1F1F1;
                            }
                            &.ty_blue {
                                background-color: $c_key;
                            }
                            &.ty_red {
                                background-color: $c_red2;
                            }
                        }
                    }
                    dd {
                        font-size: 14px;
                        margin-left: auto;
                    }
                }
            }
        }
    }
    &_tit {
        display: flex;
        align-items: center;
        column-gap: 8px;
        margin-bottom: 10px;
    }
}

.scroll_h {
    overflow-x: auto;
    
}


.chart_donut {
    transform: rotate(-90deg);
    width: 100px;
    font-size: 14px;
    text {
        font-family: $font;
    }
}

.no_data {
    width: 100%;
    padding: 100px 0;
    background-color: #fff;
    &_ico {
        display: block;
        width: 56px;
        height: 56px;
        background-image: url(../images/ico_no_data.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin: 0 auto;
    }
    &_txt {
        font-size: 18px;
        margin-top: 16px;
        color: $c_grey;
    }
}

.top_set {
    padding: 16px;
    border: 1px solid $c_line;
    border-radius: 8px;
    display: flex;
    align-items: center;
    //justify-content: flex-end;
    flex-wrap: wrap;
    background-color: #fff;
    gap: 16px;
    margin-bottom: 20px;
    @include mobile {
        margin: 0 20px;
        margin-bottom: 20px;
    }
}

.branch_list {
    @include flex_col(4, 16px, 16px);
    margin-top: 60px;
    
    &_item {
        background-color: #fff;
        border-radius: 16px;
        .item_inner {
            padding: 32px 32px 16px;
        }
        .bot_btns {
            padding: 16px 32px;
            border-top: 1px solid $c_line;
            display: flex;
            justify-content: flex-end;
        }
        .tit_area {
            display: flex;
            align-items: center;
            gap: 10px;
            .tit {
                flex: 1;
                font-size: $fz_8;
                @include text-hidden-single;
                
            }
            .utils {
                margin-left: auto;

            }
        }
    }
    @include tablet2 {
        @include flex_col(3, 16px, 16px);
    }
    @include tablet {
        @include flex_col(2, 16px, 16px);
    }
    @include mobile {
        @include flex_col(1, 16px, 16px);
        padding: 0 20px;
        padding-bottom: 20px;
        margin-top: 20px;
    }
}

.floor_list {
    &_item {
        display: flex;
        gap: 8px;
        & + & {
            margin-top: 12px;
        }
        .f_input {
            background-color: $c_key2;
            border: none;
            &:read-only {
                background-color: #fff;
                
            }
        }
    }
}

.info_box {
    background-color: $c_key2;
    padding: 10px 20px;
    border-radius: 7px;
    color: $c_grey;
    font-size: $fz_3;
    &._top {
        margin-bottom: 8px;
    }
    &._bot {
        margin-top: 8px;
    }
    .ico_info {
        flex-shrink: 0;
        margin-right: 8px;
        width: 16px;
        height: 1.5em;
        background-image: url(../images/ico_info.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
}


.work_wrap {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    @include tablet {
        display: block;
    }
    @include mobile {
        border: none;
        padding: 0 !important;
        margin-bottom: 10px;
    }
    &_tit {
        width: 100%;
    }
    .work_qr {
        width: 410px;
        flex-shrink: 0;
        .qr_wrap {
            padding: 45px 0;
            background-color: #F8F9FB;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn_set {
            margin-bottom: 32px;
        }
        .info_box {
            margin-top: 16px;
        }
        @include tablet { 
            width: 100%;
            margin-top: 30px;
        }
    }
    .work_list {
        flex: 1;
        min-width: 0;
        .tbl_top {
            margin-top: 32px;
        }
        .tbl_wrap {
            max-height: 296px;
        }
        @include tablet { 
            margin-top: 30px;
        }

        @include mobile {
            .form_wrap {
                .d_flex {
                    flex-wrap: wrap;
                    width: 100%;
                    .select-box {
                        width: 100%;
                    }
                }
                .f_btn {
                    width: 100%;
                }
                .date_set {
                    width: 100%;
                }
            }
        }
    }


}

.qr_box {
    padding: 16px;
    border: 1px solid $c_line2;
    text-align: center;
    background-color: #fff;
    .date {
        display: block;
        font-size: $fz_3;
        margin-top: 16px;
    }
}

.date_set {
    display: flex;
    align-items: center;
    gap: 8px;
    .f_input {
        flex: 1;
        min-width: 0;
    }
}

.tip_box {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: $c_key6;
    color: $c_grey;
}
.list_dot {
    &_item {
        display: flex;
        align-items: flex-start;
        &::before {
            content:'·';
            margin-right: 6px;

        }
    }
}

.list_tip {
    &_item {
        display: flex;
        align-items: flex-start;
        color: $c_font2;
        text-align: left;
        & + & {
            margin-top: 8px;
        }
        &::before {
            content:'※';
            margin-right: 6px;

        }
    }
}

.ai_upload {
    
    &_sec {
        // flex: 1;
        // flex-shrink: 0;
        // width: 50%;
        & + & {
            margin-top: 40px;
        }
        &_tit {
            margin-bottom: 20px;
            &.mb0 {
                margin-bottom: 0;
            }
        }
    }
    .upload_wrap {
        //background-color: $c_key2;
        border: 1px solid $c_line2;
        text-align: center;
        padding: 20px;
        border-radius: 8px;
        //min-height: 400px;
        .bf_upload {
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
        }
    }
}

.template {

    &_m_btns {
        display: none;
        border-left: 1px solid $c_line2;
        border-top: 1px solid $c_line2;
        @include mobile {
            display: block;
        }
    }
    &_m_btn {
        width: 100%;
        display: flex;
        align-items: center;
        border-right: 1px solid $c_line2;
        border-bottom: 1px solid $c_line2;
        padding: 10px 16px;
        gap: 10px;
        text-align: left;
        line-height: 20px;
        &::after {
            content:'';
            width: 20px;
            height: 20px;
            background: url(../images/arrow_select4.svg) no-repeat center center;
            margin-left: auto;
            flex-shrink: 0;
        }
    }
    &_wrap {
        display: flex;
        gap: 32px;
        &_left {
            flex: 1.3;
            flex-shrink: 0;
        }
        &_right {
            flex: 1;
            @include tablet { 
                margin-top: 32px;
            }
        }

        @include tablet {
            display: block;
        }
    }

    
    &_sec {

        flex-shrink: 0;
        & + & {
            margin-top: 32px;
        }
        .tag_list {
            align-self: center;
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
        }
        .tag_wrap {
            display: flex;
            gap: 20px;
            .f_btn._reset {
                margin-left: auto;
            }
        }
    }
    &_tit {
        margin-bottom: 12px;
        
    }

    &_tab {
        display: flex;
        border: 1px solid $c_line2;
        word-break: break-all;
        flex-wrap: wrap;
        border-top: none;
        border-right: none;
        @include mobile {  
            display: block;
            background-color: #fff;
            border-radius: 16px 16px 0 0;
            border: none;
        }
        &_bot {
            display: none;
            background-color: #fff;
            padding: 10px;
            border-top: 1px solid $c_line2;
            background-color: $c_bg;
            @include mobile { 
                display: block;
            }
        }
        &_wrap {
            @include mobile { 
                display: none;
                position: fixed;
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                background-color: rgba(#000, .2);
                z-index: 10000;   
               
                flex-direction: column;
                justify-content: flex-end;
                &.on {
                    display: flex;
                }
            }
        }
       
        &_dep1 {
            display: flex;
            flex: 1;
            position: relative;
            flex-direction: column;
            @include mobile {  
                display: none;
                &.on {
                    display: flex;
                }
            }
            &._frequency {
                flex: 1.8;
            }
            // &.on {
            //     &::after {
            //         content: '';
            //         width: 100%;
            //         height: 100%;
            //         position: absolute;
            //         left: 0;
            //         top: 0;
            //         border: 1px solid $c_key;
            //         z-index: 99;
            //         pointer-events: none;
            //     }
            // }
        }
        &_tit {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 10px;
            border-right: 1px solid $c_line2;
            border-bottom: 1px solid $c_line2;
            border-top: 1px solid $c_line2;
            // @at-root .template_tab_dep1.on & {
            //     border-bottom: 1px solid $c_key;
            // }
            &.no_bd {
                border-left: none;
            }
            .btn_back {
                display: none;
            }
            @include mobile {
                border-right: none;
                border-top: none;
                height: 56px !important;
                position: relative;
                padding: 10px 50px;
                .btn_back {
                    display: block;
                    width: 30px;
                    height: 30px;
                    background: url(../images/arrow_back.svg) no-repeat center center;
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    margin-top: -15px;
                }

            }
            
        }
        &_cont {
            display: flex;
            flex: 1;
            
        }
        &_list {
            //border: 1px solid $c_line;
            flex: 1;
            max-height: 400px;
            overflow-y: auto;
            border-right: 1px solid $c_line2;
            &.no_bd {
                border-left: none ;
            }
            .list_item {
                //cursor: pointer;
                &:hover {
                    @include hover_true {
                        background-color: $c_key2;
                    }
                    
                }
            }
            @include mobile {
                min-height: 40dvh;
                max-height: calc(100dvh - 300px);
            }
        }
        &_btn {
            //padding: 10px;
            //display: flex;
            position: relative;
            cursor: pointer;
            input[type="radio"] {
                position: absolute;
                z-index: -999;
                opacity: 0;
                &:checked ~ .btn_inner {
                    background-color: $c_key2;
                    &::after {
                        opacity: 1;
                    }
                }
            }
            input[type="checkbox"] {
                position: absolute;
                z-index: -999;
                opacity: 0;
                &:checked ~ .btn_inner {
                    background-color: $c_key2;
                    .ico_chk {
                        background-color: $c_key;
                    }
                }
            }
            
            
            .btn_inner {
                display: flex;
                //align-items: center;
                position: relative;
                min-height: 40px;
                padding: 10px;
                padding-right: 40px;
                align-items: center;
                //flex-wrap: wrap;
                .ico_chk {
                    width: 20px;
                    height: 20px;
                    
                    border-radius: 4px;
                    background-color: lighten($c_font, 65%);
                    box-sizing: border-box;
                    margin-right: 8px;
                    position: relative;
                    background-image: url(../images/f_chk.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    flex-shrink: 0;
                }
                .txt {
                    font-size: $fz_4;
                    .desc {
                        display: block;
                        font-size: $fz_1;
                        color: $c_grey;
                    }
                }

                &::after {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    margin-top: -6px;
                    opacity: 0;
                    content:'';
                    width: 12px;
                    height: 12px;
                    background-image: url(../images/arrow_select4.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }
        &_time {
            width: 100%;
            border-top: 1px solid $c_line2;
            border-right: 1px solid $c_line2;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            @include mobile { 
                display: none;
                &.on {
                    display: flex;
                }
            }
            .btn_add {
                width: 34px;
                height: 34px;
                border-radius: 50%;
                background-color: $c_key;
                background-image: url(../images/ico_add.svg);
                background-repeat: no-repeat;
                background-position: center center;
                &:hover {
                    background-color: darken($c_key, 6%);
                }
            }
            .time_list {
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                &_item {
                    height: 34px;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    input[type="text"] {
                        height: 26px;
                        color: $c_key;
                        background-color: $c_key2;
                        width: 50px;
                        text-align: center;
                    }
                    .btn_del {
                        width: 26px;
                        height: 26px;
                        border-radius: 50%;
                        background-color: $c_bg;
                        background-image: url(../images/ico_del_x.svg);
                        background-repeat: no-repeat;
                        background-position: center center;
                        &:hover {
                            background-color: darken($c_bg, 5%);
                        }
                        
                    }
                }
                @include mobile {
                    max-height: 80px;
                    overflow-y: auto;
                } 
            }
            .txt_bot {
                width: 100%;
                color: $c_placeholder;
                text-align: right;
            }
        }
    }
}

.tab_btns {
    display: flex;
    border-left: 1px solid $c_line2;
    border-top: 1px solid $c_line2;
    .tab_btn {
        height: 40px;
        align-items: center;
        flex: 1;
        font-size: $fz_4;
        border-right: 1px solid $c_line2;
        border-bottom: 1px solid $c_line2;
        color: $c_placeholder;
        font-weight: 500;
        &.on {
            color: $c_key;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: -1px;
                top: -1px;
                right: -1px;
                bottom: -1px;
                border: 1px solid $c_key;
            }
        }
    }

}

.drag_list {
    &_item {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        & + & {
            margin-top: 16px;
        }
        .btn_ico._drag {
            background-color: $c_bg;
            &:hover {
                background-color: darken($c_bg, 5%);
            }
        }
        .chk_list {
            width: 100%;
            &_item {
                display: flex;
                align-items: center;
                margin-top: 10px;
            }
        }
    }
}

.link_list {
    &_item {
        display: flex;
        font-size: $fz_4;
        & + & {
            margin-top: 12px;
        }
        .txt {
            flex: 1;
        }
    }
}

.emgc_detail {
    display: flex; 
    @include tablet {
        display: block;
    }
    &_sec {
        flex: 1;
        display: flex;
        flex-direction: column;
        @include tablet { 
            display: block;
        }

        
        .worker_list {
            min-width: 50%;
        }
        
        
        &_tit {
            display: flex;
            gap: 8px;
            align-items: center;
            margin-bottom: 16px;
            flex-wrap: wrap;
            @include mobile { 
                margin-bottom: 10px;
            }
            .tit {
                font-size: $fz_7;
                @include mobile {
                    font-size: $fz_6;
                }
            }
            .tit_sub {
                font-size: $fz_5;
                color: $c_key;
                @include mobile {
                    font-size: $fz_4;
                }
            }
            .date {
                font-size: $fz_2;
                margin-left: auto;
            }     
        }
        &.ty_request {
            padding-right: 32px;
            @include tablet {  
                padding-right: 0;
            }
        }
        &.ty_work {
            border-left: 1px solid $c_line2;
            padding-left: 32px;
            @include tablet { 
                padding-left: 0;
                border-left: none;
                margin-top: 32px;
            }
            .no_data {
                flex: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                background-color: $c_key2;
                padding: 60px 16px;
            }
        }
    }
}

.eqmt_wrap {
    display: flex;
    gap: 64px;
    @include mobile {
        flex-direction: column;
    }
    .eqmt_sec {
        flex: 1;
        flex-shrink: 0;
        min-width: 0;
        &1 {
            flex: 0.6;
        }
    }   
}

.cate_set {
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    gap: 0 4px;
    word-break: break-all;
    &::before {
        content: '';
        width: 24px;
        height: 24px;
        background-image: url(../images/ico_folder.svg);
        background-repeat: no-repeat;
        background-position: center center;
        align-self: flex-start;
        flex-shrink: 0;
    }
}
