.title1 {
    font-size: $fz_9;
    font-weight: bold;
    line-height: 1.2;
    display: flex;
    align-items: center;
    @include mobile {
        font-size: $fz_8;
    }
    .tit_ico {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        &.ty_facility {
            background-image: url(../images/tit1_ico_facility.svg);
        }
        
    }
}
.title2 {
    font-size: $fz_8;
    font-weight: bold;
}
.title3 {
    font-size: $fz_7;
    font-weight: 500;
}

.tit_ico {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    &.ty_facility {
        background-image: url(../images/icon_FacilityManagement_blue.svg);
    }
    &.ty_emergency {
        background-image: url(../images/icon_EmergencyManagement_blue.svg);
    }
}